<div id="signup">
  <div class="flex-col mx-auto text-center w-2/3 lg:w-1/3">
    <h1 class="text-3xl font-extrabold mb-6 mt-3">Sign up</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-inputs space-y-4">
        <div>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gold focus:ring-offset-2 focus:border-none" },
                      label_html: { class: "block text-sm mb-2 font-medium text-gray-700" } %>
        </div>
        <div>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: "w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gold focus:ring-offset-2 focus:border-none" },
                      label_html: { class: "block text-sm mb-2 font-medium text-gray-700" } %>
        </div>
        <div>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password", class: "w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gold focus:ring-offset-2 focus:border-none" },
                      label_html: { class: "block text-sm mb-2 font-medium text-gray-700" } %>
        </div>
      </div>
      <div class="form-actions mt-4">
        <%= f.button :submit, "Sign up", class: "w-full mb-4 px-4 py-2 bg-navbar-grey text-gold rounded-md hover:bg-gold hover:text-white focus:outline-none focus:ring-2 focus:ring-navbar-grey focus:ring-offset-2", style: "white-space: normal;"%>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
