<div class="flex w-full h-screen">
  <%= render "shared/sidebar", class: "h-full"%>
  <div class="flex-grow h-full overflow-auto">
    <div class="client-box">
      <% @clients.each do |client| %>
        <div class="client-item">
          <a href="/clients/<%= client.id %>" class="client-item-link">
            <div class="client-item-corner"></div>
            <div class="client-item-title"><%= client.first_name %> <%= client.last_name %></div>
            <div class="client-item-info">First Name :
              <span class="client-item-info-sp"><%= client.first_name %></span>
            </div>
            <div class="client-item-info">Last Name :
              <span class="client-item-info-sp"><%= client.last_name %></span>
            </div>
            <div class="client-item-info">Phone number :
              <span class="client-item-info-sp"><%= client.phone_number %></span>
            </div>
            <div class="client-item-info">Address :
              <span class="client-item-info-sp"><%= client.address %></span>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
