<div class="flex w-full  h-screen">

  <%= render "shared/sidebar" %>
  <div class="flex-grow h-screen bg-gold" id="client-new">

    <%= simple_form_for Client.new do |f|  %>

      <div class="form-inputs space-y-4">
        <div>
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first_name", class: "w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gold focus:ring-offset-2 focus:border-none" },
                      label_html: { class: "block text-sm mb-2 font-medium text-gray-700" } %>
        </div>

        <div>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name", class: "w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gold focus:ring-offset-2 focus:border-none" },
                      label_html: { class: "block text-sm mb-2 font-medium text-gray-700" } %>
        </div>

        <div>
          <%= f.input :phone_number,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first_name", class: "w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gold focus:ring-offset-2 focus:border-none" },
                      label_html: { class: "block text-sm mb-2 font-medium text-gray-700" } %>
        </div>

        <div>
          <%= f.input :address,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "address", class: "w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gold focus:ring-offset-2 focus:border-none" },
                      label_html: { class: "block text-sm mb-2 font-medium text-gray-700" } %>
        </div>

        <div>
        <%= f.input :photo, as: :file %>
        </div>

      </div>


      <div class="form-actions mt-4">
        <%= f.button :submit, "Create client", class: "w-full mb-4 px-4 py-2 bg-navbar-grey text-gold rounded-md hover:bg-gold hover:text-white focus:outline-none focus:ring-2 focus:ring-navbar-grey focus:ring-offset-2", style: "white-space: normal;"%>
      </div>

    <% end %>
  </div>

</div>
