<div class="flex w-full h-screen ">
  <%= render "shared/sidebar", class: "h-full"%>
  <div  data-controller="datatable" class="flex-grow h-full overflow-auto" id="order-index">
    <table id="orders" class="display">
      <thead class="bg-gold">
        <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Client</th>
          <th>Items</th>
          <th>Order Status</th>
          <th>Price</th>
          <th>Deposit</th>
          <th>Balance</th>
          <th>Expenses</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><a href="/orders/<%= order.id %>"><%= order.id %></a></td>
            <td><a href="/orders/<%= order.id %>"><%= order.created_at.strftime("%Y-%m-%d") %></a></td>
            <td><a href="/orders/<%= order.id %>"><%= order.client.first_name %> <%= order.client.last_name %></a></td>
            <td><a href="/orders/<%= order.id %>"><%= order.items.count %></a></td>
            <td><a href="/orders/<%= order.id %>"><%= order.status %></a></td>
            <td><a href="/orders/<%= order.id %>"><%= order.items.sum(:price) %></a></td>
            <td><a href="/orders/<%= order.id %>"><%= order.items.sum(:deposit) %></a></td>
            <td><a href="/orders/<%= order.id %>"><%= order.items.sum(:price) - order.items.sum(:deposit) %></a></td>
            <td><a href="/orders/<%= order.id %>"><%= order.items.sum(:expenses) %></a></td>
            <td><a href="/orders/<%= order.id %>"><%= order.item_carts.first.deadline %></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
