<div class="flex w-full h-screen ">
  <%= render "shared/sidebar"%>
  <div  class="flex-grow" id="order-show">
    <div class="bg-navbar-grey py-10 mx-auto w-1/2 mt-6 rounded-xl bg-opacity-30 ">
      <h2 class="font-bold text-3xl text-center">Order Info</h2>
      <table class="border-2 border-navbar-grey mx-auto text-center my-5">
        <thead class="border-navbar-grey border-2">
          <tr>
            <th class="border-navbar-grey border-r-2 hover:bg-gold hover:text-white">Detail</th>
            <th class="border-navbar-grey bg-gold">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-r-2 border-b bg-gold border-navbar-grey"><strong>Order:</strong></td>
            <td class="bg-white"><%= @order.id %></td>
          </tr>
          <tr>
            <td class="border-r-2 border-b bg-gold border-navbar-grey"><strong>Date:</strong></td>
            <td class="bg-navbar-grey bg-opacity-50"><%= @order.created_at.strftime("%Y-%m-%d") %></td>
          </tr>
          <tr>
            <td class="border-r-2 border-b bg-gold border-navbar-grey"><strong>Client:</strong></td>
            <td class="bg-white"><%= @order.client.first_name %> <%= @order.client.last_name %></td>
          </tr>
          <tr>
            <td class="border-r-2 border-b bg-gold border-navbar-grey"><strong>Items:</strong></td>
            <td class="bg-navbar-grey bg-opacity-50"><%= @order.items.count %></td>

          </tr>
          <tr>
            <td class="border-r-2 border-b bg-gold border-navbar-grey"><strong>Order Status:</strong></td>
            <td class="bg-white">
              <form action="/orders/<%= @order.id  %>" method="PATCH">
                <select name="order[status]" class="border rounded-md hover:ring-1 hover:ring-navbar-grey focus:outline-none focus:ring-2 focus:ring-navbar-grey focus:ring-offset-2 focus:border-none my-1">
                  <% status = ["Pending", "In Progress", "Done"]  %>
                  <% status.each do |status| %>
                    <option class=""value="<%= status %>" <%= @order.status == status ? "selected" : ""  %> > <%= status %> </option>
                  <% end %>
                </select>
                <input type="submit" value="Update Status" class="my-2 px-4 py-2 bg-navbar-grey text-gold rounded-md hover:text-black hover:bg-white hover:ring-2 hover:ring-navbar-grey focus:outline-none focus:ring-2 focus:ring-navbar-grey focus:ring-offset-2"/>
              </form>
            </td>
          </tr>
          <tr>
            <td class="border-r-2 border-b bg-gold border-navbar-grey"><strong>Price:</strong></td>
            <td class="bg-navbar-grey bg-opacity-50"><%= @order.items.sum(:price) %></td>
          </tr>
          <tr>
            <td class="border-r-2 border-b bg-gold border-navbar-grey"><strong>Deposit:</strong></td>
            <td class="bg-white"><%= @order.items.sum(:deposit) %></td>
          </tr>
          <tr>
            <td class="border-r-2 border-b bg-gold border-navbar-grey"><strong>Balance:</strong></td>
            <td class="bg-navbar-grey bg-opacity-50"><%= @order.items.sum(:price) - @order.items.sum(:deposit) %></td>
          </tr>
          <tr>
            <td class="border-r-2 border-b bg-gold border-navbar-grey"><strong>Expenses:</strong></td>
            <td class="bg-white"><%= @order.items.sum(:expenses) %></td>
          </tr>
          <tr>
            <td class="border-r-2 bg-gold border-navbar-grey"><strong>Deadline:</strong></td>
            <td class="bg-navbar-grey bg-opacity-50"><%= @order.item_carts.first.deadline %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
