<script src="//unpkg.com/alpinejs" defer></script>

<div class="flex w-full  h-screen"  data-controller="measurement">

  <%= render "shared/sidebar" %>
  <div class="flex-grow h-screen bg-gold">
    <div class="flex flex-wrap overflow-y-scroll w-full h-screen p-6">

      <% @clients.each do |client| %>
        <div class="client-item min-h-52 min-w-48 border-2 border-gray-700">
        <div class="flex justify-start items-center gap-3 p-4">
            <%= cl_image_tag client.photo.key, height: 300, width: 400, crop: :fill, class: "rounded-full w-10 h-10 object-cover" if client.photo.key.present? %>
            <span class="client-item-info-sp"><%= client.first_name %></span>
            <span class="client-item-info-sp"><%= client.last_name %></span>
        </div>

          <%= render "carousel", client: client %>
        </div>
      <% end %>

    </div>
  </div>
</div>
