<div id="home">
  <div>
    <div class="banner drop-shadow-lg bg-cover bg-center bg-no-repeat py-[250px] relative ">
      <video autoplay loop muted class="absolute inset-0 w-full h-full object-cover">
        <source src="<%= asset_path('backgroundhomev.mp4') %>" type="video/mp4">
      </video>
    </div>
  </div>

  <h2 class="text-2xl font-bold text-center mt-6 text-black">Top Services</h2>

  <div class="cards flex flex-grid justify-between items-center my-8 mx-16">

    <div class="card-category bg-cover flex justify-center items-center m-4 w-80 h-48 rounded-lg text-white text-2xl font-bold" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('madetomeasure.jpeg') %>')">
      Made to measure
    </div>

    <div class="card-category bg-cover flex justify-center items-center m-4 w-80 h-48 rounded-lg text-white text-2xl font-bold" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('readytowear.jpeg') %>')">
      Ready to wear
    </div>

    <div class="card-category bg-cover flex justify-center items-center m-4 w-80 h-48 rounded-lg text-white text-2xl font-bold" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('alterations.jpeg') %>')">
      Alterations
    </div>

    <div class="card-category bg-cover flex justify-center items-center m-4 w-80 h-48 rounded-lg text-white text-2xl font-bold" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('restorations.jpeg') %>')">
      Restorations
    </div>

  </div>

  <div class="history text-center block">
    <h2 class="text-2xl font-bold mt-6 mb-5 text-black">Our History</h2>
    <p class="border-gold border-2 w-1/2 mx-auto rounded-md"><strong>Manajob</strong> was founded in 2024 by a group of friends who wanted<br>to help the tailoring sector to have a digital plateform<br>to better manage their businesses.</p>
  </div>


    <div class=" relative slider text-center block w-full h-80 overflow-hidden my-5 mx-auto">
      <div class="slide absolute">
          <p class="font-bold font-sans text-6xl inline-block text-white">Made to measure</p>
      </div>
      <div class="slide absolute">
          <p class="font-bold font-sans text-6xl inline-block text-white">Ready to wear</p>
      </div>
      <div class="slide absolute">
          <p class="font-bold font-sans text-6xl inline-block text-white">Alterations</p>
      </div>
      <div class="slide absolute">
          <p class="font-bold font-sans text-6xl inline-block text-white">Restorations</p>
      </div>
    </div>



</div>
